<h1 class="m-4 color-theme">Our Mission</h1>
	
<div class="bg-white m-4 p-4 shadow">
		<h4>Welcome to Feeding Hope, the online platform where you can make a difference in the lives of those struggling with hunger. Our mission is simple: to provide nutritious food to those in need. We understand that many families and individuals are facing food insecurity, and we believe that everyone deserves access to healthy meals. Thank you for your support!</h4>
</div>