<!-- change 1 -->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#3f51b5">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Itim&family=Patua+One&family=Poly&family=Poppins:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="stylesheet" href="/assets/css/sidebar.css">
	<link rel="icon" href="/assets/images/fav.png?v=1.1">
	<link rel="stylesheet" href="/assets/css/nicepage.css" media="screen">
	<link rel="stylesheet" href="/assets/css/About-1.css" media="screen">
	<script  class="u-script" type="text/javascript" src="/assets/js/nicepage.js"></script>
	<script  class="u-script" type="text/javascript" src="/assets/js/jquery-1.9.1.min.js"></script>
	<meta name="generator" content="Nicepage 5.5.0, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
	
	
	<title> <%= typeof title != 'undefined' ? title : "WellFood" %> </title>
	<script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": ""
}</script>
<meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="About 1">
    <meta property="og:type" content="website">
  <meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
</head>
<body>
	
	


<div id="carousel" class="carousel slide" data-bs-ride="carousel">
	<div class="carousel-indicators">
		<button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true"
			aria-label="Slide 1"></button>
		<button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
		<button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
	</div>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img src="/assets/images/f3.jpg" class="d-block w-100" alt="...">
		</div>
		<div class="carousel-item">
			<img src="/assets/images/editf2.jpg" class="d-block w-100" alt="...">
		</div>
		<div class="carousel-item">
			<img src="/assets/images/editf1.jpg" class="d-block w-100" alt="...">
		</div>
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>


<section class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-clearfix u-section-1" id="carousel_cc3d">
	<div class="u-align-center u-container-style u-group u-group-1">
	  <div class="u-container-layout u-valign-middle u-container-layout-1">
		<h2 class="u-custom-font u-font-montserrat u-text u-text-black u-text-1">"Feeding Hope: Join the <br> Fight Against Hunger with Our Food Donation Site"
		</h2>
		<p class="u-text u-text-2">Welcome to Feeding Hope, the online platform where you can make a difference in the lives of those struggling with hunger. Our mission is simple: to provide nutritious food to those in need. We understand that many families and individuals are facing food insecurity, and we believe that everyone deserves access to healthy meals. Thank you for your support!</p>
	  </div>
	</div>
	<div class="u-expanded-width u-palette-1-dark-3 u-shape u-shape-rectangle u-shape-1"></div>
	<div class="u-list u-list-1">
	  <div class="u-repeater u-repeater-1">
		<div class="u-align-center u-container-style u-list-item u-palette-1-base u-radius-50 u-repeater-item u-shape-round">
		  <div class="u-container-layout u-similar-container u-container-layout-2">
			<div class="u-align-left u-border-10 u-border-white u-container-style u-group u-palette-1-light-1 u-shape-circle u-group-2">
			  <div class="u-container-layout u-valign-middle u-container-layout-3">
				<h1 class="u-text u-text-default u-title u-text-3" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">3</h1>
			  </div>
			</div>
			<h6 class="u-text u-text-4">Admins</h6>
		  </div>
		</div>
		<div class="u-align-center u-container-style u-list-item u-palette-1-base u-radius-50 u-repeater-item u-shape-round">
		  <div class="u-container-layout u-similar-container u-container-layout-4">
			<div class="u-align-left u-border-10 u-border-white u-container-style u-group u-palette-1-light-1 u-shape-circle u-group-3">
			  <div class="u-container-layout u-valign-middle u-container-layout-5">
				<h1 class="u-text u-text-default u-title u-text-5" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">75</h1>
			  </div>
			</div>
			<h6 class="u-text u-text-6">Agents</h6>
		  </div>
		</div>
		<div class="u-align-center u-container-style u-list-item u-palette-1-base u-radius-50 u-repeater-item u-shape-round u-list-item-3">
		  <div class="u-container-layout u-similar-container u-container-layout-6">
			<div class="u-align-left u-border-10 u-border-white u-container-style u-group u-palette-1-light-1 u-shape-circle u-group-4">
			  <div class="u-container-layout u-valign-middle u-container-layout-7">
				<h1 class="u-text u-text-default u-title u-text-7" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">753</h1>
			  </div>
			</div>
			<h6 class="u-text u-text-8">Donors</h6>
		  </div>
		</div>
	  </div>
	</div>
  </section>
  
  


<footer>

	<div class="row">
		<div class="col-lg-6 ">
			<h1 class="footer-title">WellFood</h1>
			<p class="footer-para">Remove Hunger</p>
			<div class="social-images">
				<img src="/assets/images/🦆 icon _facebook outline_.png" alt="">
				<img src="/assets/images/🦆 icon _github_.png" alt="">
				<img src="/assets/images/🦆 icon _twitter outline_.png" alt="">
			</div>


			<p class="footer-copyright">© 2023 WellFood, Inc.</p>

		</div>
		<div class="col-lg-6 ">

			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6 ">
					<div class="overview">
						<h2 class="title-over">OVERVIEW</h2>
						<ul>
							<li class="li-over">About</li>
							<li class="li-over"> Mission</li>
							<li class="li-over"> Contact</li>
							<li class="li-over">Login</li>
							<li class="li-over"> Sign Up</li>
							<li class="li-over">Resources</li>

						</ul>
					</div>
				</div>
				<div class="col-lg-2 ">

				</div>
				<div class="col-lg-7 col-md-3 col-sm-3 ">

					<div class="contact">
						<h2 class="title-contact">CONTACT</h2>
						<p class="contact-para">

							+91 7062837834 <br>
							Near State bank Bhopal Mp <br>
							Zip Code: 488448 <br>
							Alternet Phone: +91 9578325478 <br>




						</p>
					</div>
				</div>
			</div>


		</div>

	</div>





</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	<script src="/assets/js/script.js"></script>
</body>
</html>